<div class="container">
    <div class="form-container">
        <h1>Catálogo de Películas</h1>
        <h4>Alta de Películas</h4>
        <div class="col-sm-10">
            <p>
                <label>Título</label>
                <input type="text" class="form-control" [(ngModel)]="pelicula.titulo" name="autor" required minlength="10" #titulo="ngModel"/>
                    @if(titulo.invalid && titulo.touched){
                      <small class="text-danger">El nombre del titulo debe contener al menos 10 caracteres.</small>
                    }
            </p>
            <p>
                <label>Género</label>
                <input type="text" class="form-control" [(ngModel)]="pelicula.genero" name="autor" required minlength="0" #genero="ngModel"/>
                    @if(genero.invalid && genero.touched){
                      <small class="text-danger">El genero es obligatorio.</small>
                    }
            </p>
            <p>
                <label>Año</label>
                <input type="text" class="form-control" [(ngModel)]="pelicula.anios" name="anios" required required minlength="0" #anios="ngModel"
                       oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);"  />
                       @if(anios.invalid && anios.touched){
                        <small class="text-danger">El genero es obligatorio.</small>
                       }
            </p>
            <div class="form-group">
                <label>Estado:</label>
                <input type="checkbox" [(ngModel)]="pelicula.estado" /> Disponible
            </div>

            <div class="button-container">
                <button type="button" class="btn btn-primary" (click)="insertarPelicula()">Insertar</button>
                <button type="button" class="btn btn-warning" (click)="updatePelicula()">Modificar</button>
                <button type="button" class="btn btn-danger" (click)="deletePelicula()">Eliminar</button>
            </div>
        </div>
    </div>

    <div class="table-container">
        <h4>Películas</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Género</th>
                    <th>Año</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for(pelicula of peliculas; track pelicula.id){
                    <tr>
                        <td>{{ pelicula.titulo }}</td>
                        <td>{{ pelicula.genero }}</td>
                        <td>{{ pelicula.anios }}</td>
                        <td>
                            {{ pelicula.estado ? 'Disponible' : 'No disponible' }}
                        </td>
                        <td class="actions">
                            <button type="button" class="btn btn-success" (click)="selectPelicula(pelicula)">Seleccionar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
